<?xml version="1.0" encoding="UTF-8" ?>
<widget xmlns   = "http://www.w3.org/ns/widgets"
        xmlns:gap   = "http://phonegap.com/ns/1.0"
        id          = "com.phonegap.example"
        versionCode = "101"
        version     = "1.0.1" >

    <gap:config-file platform="ios" parent="CFBundleShortVersionString">
        <string>101</string>
    </gap:config-file>

    <name>Mudgeeraba Show</name>

    <description>
        An app for the Mudgeeraba Show
    </description>

    <author href="https://dtbaker.net" email="dtbaker@gmail.com">
        dtbaker
    </author>

    <preference name="StatusBarBackgroundColor" value="#4cbcf7" />

    <gap:platforms>
        <gap:platform name="ios" />
    </gap:platforms>

    <access origin="*.google.com" />
    <access origin="*.googleapis.com" />
    <access origin="*.gstatic.com" />
    <access origin="*.googleusercontent.com" />
    <access origin="google.com" subdomains="true"/>
    <access origin="googleapis.com" subdomains="true"/>
    <access origin="gstatic.com" subdomains="true"/>
    <access origin="googleusercontent.com" subdomains="true"/>
    <access origin="*" />

    <plugin name="cordova-plugin-statusbar" source="npm" />
    <plugin name="cordova-plugin-geolocation" source="npm" />

    <feature name="http://api.phonegap.com/1.0/geolocation"/>
    <feature name="http://api.phonegap.com/1.0/network"/>

</widget>